%tr
  %th.label
    %label{:for=>"home_path"} Home
  %td.field
    %span.checkbox
      = text_field "user", "home_path" 
  %td.help
    The location where you will be directed after logging in. This must be a valid path with no spaces or non-URL characters.